<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANNORAH BY AMA</title>
    <link rel="stylesheet" href="../static/styles/landing.css">
</head>
<body>
    <div class="top">
        <h1 class="st">ANNORAH BY AMA</h1>
        <button onclick="window.location.href='login'" class="login">LOGIN</button>
        <button onclick="window.location.href='signup'" class="signup">SIGNUP</button>
    </div>
    <hr>
    <div class="container">
        <!-- <button class="arrow">&#8592;</button>-->
        {% for dress in dresses %}
        <a style="text-decoration: none; color: black;" href="{{ url_for('login') }}">
        <div class="full_container">
            <div class="img_container">
                <img src="{{ dress.image_url }}">
            </div>
        <p class="dress_description">{{ dress.description }}</p>
        <p class="dress_price">{{ dress.price }}</p>
        </div>
        </a>
        {% endfor %}
        <!-- <button class="arrow">&#8594;</button>-->
    </div>
    
</body>
</html>