<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANNORAH BY AMA</title>
    <link rel="stylesheet" href="../static/styles/order.css">
    <link rel="stylesheet" href="../static/styles/messages.css">
    <link rel="stylesheet" href="../static/styles/top.css">
</head>
<body>
    <div class="top">
        <h1 class="st">ANNORAH BY AMA</h1>
        <a href="{{ url_for('landing_page') }}" class="home">
            <img src="../static/images/home.png" alt="Home" class="img-size">
        </a>
        <div class="profile-div">
            <img src="../static/images/profile-user.png" alt="Profile" class="img-size">
            {% if name %}
            {{ name }}
            {% endif %}
        </div>
    </div>
    <hr>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% if error_message %}
        <p class="error">{{ error_message }}</p>
    {% endif %}
    {% if dress %}
    <div class="main-container">
        <div class="dress-container">
            <img src="{{ dress.image_url }}" id="dress">
        </div>
            <div class="order-container">
            <div class="no-button">
                <p>Name: {{ dress.name  }}</p>
                <p>Price: {{ dress.price  }}</p>
                <p>Description: {{ dress.description  }}</p>
            </div>
            <form method="POST">
                <button>Order</button>
            </form>
        </div>
    {% endif %}
    </div>
</body>
</html>