body, html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*height: 100%;*/
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}